.App {
  text-align: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: sans-serif;

}

title{
  color: white;
}

img {
  margin-left: 10px;
  width: 450px; height: 450px;
  float: left;
  animation: move-vector 3s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}


h1,h2,h3{
  color: gray;


}
.raya {
  border-left: 6px solid #efe9e9;
  height: 450px;
  position: absolute;
  left: 45%;
  margin-left: -4px;
  top:  60px;
}
.Descripcion{
  margin-top: 15%;
}

.ant-btn-ghost {
    color: gray;
    border-color: #d9d9d9;
    background: transparent;
}






